.Кусок {
}
.Заголовок {
    position: relative;
    text-align: center;
    

}
.header_вовзрат_наташкин {
}
.текст_1 {
}
.header_логотип_Наташкин {
}
.текст2 {
}
.header_вовзрат2_наташкин {
}
.текст3 {
}

.header_для_дома {
}
.текст4 {
}
.header_для_отелей {
}
.текст5 {
}
.header_для_шкафчиков {
}
.текст6 {
}
.header {
}
.замок {
}
.для_офисов {
}
.текст7 {
}